.instantsearch-widget {
	padding-bottom: 20px;
}

.ais-RefinementList-label {
	display: flex;
	align-items: center;
}

.ais-RefinementList-label input[type="checkbox"] {
	margin-right: 0.5em;
	margin-top: 0;
}

.ais-RefinementList-labelText {
	flex: 1;
}

.ais-RangeSlider {
	padding-left: 12px;
	padding-right: 12px;
}

.ais-SearchBox .ais-SearchBox-form {
	display: flex;
}

.ais-Pagination {
	display: flex;
	justify-content: center;
}