#unadorned-announcement-bar-settings {
	max-width: 800px;

	h1 {
		padding-block: 8px;
	}

	.components-base-control:has(textarea) {
		flex-basis: 400px;
	}

	.components-notice {
		&, &__content {
			margin: 0;
		}
	}

	.components-notice-list {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-block-end: 16px;
	}

	.components-panel {
		margin-block-end: 8px;
	}
}

#instantsearch-admin {
	.instantsearch-admin__notices:not(:empty) {
		margin-block-end: 16px;
	}

	.instantsearch-admin__page {
		display: flex;
		gap: 16px;
	}

	.instantsearch-admin__content {
		flex: 1;
	}

	.instantsearch-admin__navigation {
		margin: 0;

		button {
			width: 100%;
			justify-content: flex-start;
		}
	}
}

.instantsearch-admin__page {

	& > div {
		display: flex;
		width: 100%;
	}

	.instantsearch-admin__navigation {
		width: 100%;
		max-width: 300px;
		border-right: 1px solid #ddd;
		padding-right: 16px;

		&:first-of-type {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
	}
}